<div class="row">
    <!-- <div class="col-md-2"></div> -->
    <div class="col-md-12 main-search-bar">
        <h1>Search your movies</h1>
        <form>
            <div class="form-group">

                <input [(ngModel)]="searchString" type="search" id="search-movie" name="search-movie"
                    class="form-control " aria-describedby="Search Movie" placeholder="Search">
                <br>
                <input type="submit" class="btn btn-custom" value="Cerca" (click)="getSearchResults()">

            </div>
        </form>
    </div>
    <!-- <div class="col-md-2"></div> -->
</div>
<div class="row" *ngIf="results">

    <div class="col-md-4 space" *ngFor="let movie of moviesArray.results">
        <div class="card card-animations" style="width: 18rem;" (click)="getMovieDetails(movie.id)">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="Card image cap">
            <div class="card-body bg-color-cards">
                <h4 class="card-title">{{movie.title}}</h4>
                <p class="card-text">{{movie.overview.substring(0, 80)}} ...</p>
                <button class="btn btn-custom">Details</button>
            </div>
        </div>
    </div>

</div>
<div class="row" *ngIf="results">
    <nav>
        <ul class="pagination">
            <li *ngFor="let num of arrayOne(moviesArray.total_pages);let i = index;" class="page-item" (click)="getResultsPage(i+1)"><a class="page-link custom-pagination" [ngClass]="{'page-selected': page===(i+1)}" >{{i+1}}</a></li>
        </ul>
    </nav>
</div>