#title {
    text-align: center;
}

.container {
    background-color: #ac030b !important;
}

#story {
    text-align: left;
}

#details {
    text-align: left;
    border-left: 1px solid black;
}

#overview {
    text-align: initial;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-block-end: 5px;
}

.video-container iframe, .video-container object, .video-container embed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#details-title {
    text-align: center;
}