
#title {
    text-align: center;
}

.container {
    background-color: #ac030b !important;
}

#story {
    text-align: left;
}

#details {
    text-align: left;
}

div {
    border:1px solid black;
}

#overview{
    text-align: initial;
}