<br>
<div class="container" id="container">
  <div class="row">
    <img src="https://image.tmdb.org/t/p/original{{movie.backdrop_path}}" class="card-img-top">
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <h4 id="title">{{movie.title}} ({{movie.release_date}})</h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <h5 id="story">Story</h5>
      <p id="overview">{{movie.overview}}</p>
    </div>
  </div>
  <hr color="black">
  <div class="row">
    <div class="col-md-7">
      <h6 id="details-title">Trailer</h6>
      <div class="video-container">
        <iframe width="560" height="315" [src]="url |safe" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" webkitallowfullscreen
          mozallowfullscreenallowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-5" id="details">
      <h6 id="details-title">Details</h6>
      Kind: <ul *ngFor="let gen of movie.genres">
        <li>{{gen.name}}</li>
      </ul>

      Production Companies: <ul *ngFor="let company of movie.production_companies">
        <li>{{company.name}}</li>
      </ul>

      Director:
      <div *ngFor="let director of movie.crew">
        <ul *ngIf="director.job=='Director'">
          <li>{{director.name}}</li>
        </ul>
      </div>

      Actors:
      <ul>
        <li *ngFor="let credit of movie.credits">{{credit.name}}</li>
      </ul>

      <p>Average: {{movie.vote_average}} &nbsp; Views: {{movie.popularity}}</p>
    </div>

  </div>
</div>